<style>
    .fullscreen-modal .modal-dialog {
        margin: 0 !important;
        margin-right: auto !important;
        margin-left: auto !important;
        width: 100% !important;
    }
    
    @media (min-width: 768px) {
        .fullscreen-modal .modal-dialog {
            width: 750px !important;
        }
    }
    
    @media (min-width: 992px) {
        .fullscreen-modal .modal-dialog {
            width: 970px !important;
        }
    }
    
    @media (min-width: 1200px) {
        .fullscreen-modal .modal-dialog {
            width: 1170px !important;
        }
    }
</style>
<div class="modal-header">

    <nav class="navbar  justify-content-between fixed-top">
        <div class="logo">
            <img src="IMG/Logo2.svg" width="150px">
        </div>
        <div class="car">
            <i class="fas fa-info-circle fa-2x"></i>
            <i class="fas fa-shopping-cart fa-2x"></i>
        </div>
</div>
<div class="modal-body">
    <img src="IMG/bg.jpg" width="100%" height="200px">

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Entradas
                    </button>
                    </h5>
                    <i class="fas fa-bars fa-2x" style="opacity: 0.5;"></i>
                </div>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <img src="IMG/Entradas.jpg" width="100%" height="150px"><br><br>
                    <ul class="list-unstyled" id="Entradas">
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                SALSAS
            </button>
                    </h5>
                    <i class="fas fa-bars fa-2x" style="opacity: 0.5;"></i>
                </div>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <img src="IMG/salsas.jpg" width="100%" height="150px"><br><br>
                    <ul class="list-unstyled" id="Ensaladas">
                    </ul>
                </div>
            </div>
        </div>



        <div class="card">
            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        AVES
                    </button>
                    </h5>
                    <i class="fas fa-bars fa-2x" style="opacity: 0.5;"></i>
                </div>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <img src="IMG/aves.jpg" width="100%" height="150px"><br><br>
                    <ul class="list-unstyled" id="Aves">
                    </ul>
                </div>
            </div>
        </div>



        <div class="card">
            <div class="card-header" id="headingFor" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                        CARNES
                    </button>
                    </h5>
                    <i class="fas fa-bars fa-2x" style="opacity: 0.5;"></i>
                </div>
            </div>
            <div id="collapseFor" class="collapse" aria-labelledby="headingFor" data-parent="#accordion">
                <div class="card-body">
                    <img src="IMG/Carnes.jpg" width="100%" height="150px"><br><br>
                    <ul class="list-unstyled" id="Carnes">
                    </ul>
                </div>
            </div>
        </div>





        <div class="card">
            <div class="card-header" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        MARISCOS
                    </button>
                    </h5>
                    <i class="fas fa-bars fa-2x" style="opacity: 0.5;"></i>
                </div>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    <img src="IMG/mariscos.jpg" width="100%" height="150px"><br><br>
                    <ul class="list-unstyled" id="Mariscos">
                    </ul>
                </div>
            </div>
        </div>






        <div class="card">
            <div class="card-header" id="headingSIX" data-toggle="collapse" data-target="#collapseSIX" aria-expanded="false" aria-controls="collapseSIX">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSIX" aria-expanded="false" aria-controls="collapseSIX">
                    SANDWICH 
            </button>
                    </h5>
                    <i class="fas fa-bars fa-2x" style="opacity: 0.5;"></i>
                </div>
            </div>
            <div id="collapseSIX" class="collapse" aria-labelledby="headingSIX" data-parent="#accordion">
                <div class="card-body">
                    <img src="IMG/Sandwich.jpg" width="100%" height="150px"><br><br>
                    <ul class="list-unstyled" id="Pastas">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="Controllers/listado_articulos.js"></script>
    <div class="modal-footer" style="width: 100%;">
        <button type="button" class="btn btn-primary btn-lg" style="width: 100%;" data-dismiss="modal" aria-label="Close">Cerrar Menú</button>
    </div>
